{% extends 'layouts/base.html' %}

{% block title %} HR Admin Panel {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4" id="userView">
        <div class="card card-body blur shadow-blur mx-4 mt-n6">
            <div class="row gx-4">
                <div class="col-auto">
                </div>
                <div class="col-auto my-auto" style="padding-bottom: 0px;">
                    <div class="h-100">
                        <h4 class="mb-1">
                            Welcome to the HR Admin Panel<br>
                        </h4>
                        <h6>Logged in as {{ user.get_username }} ({{ user.profile.role }})</h6>
                        <br>
                        <p class="mb-0 font-weight-bold text-sm">
                            This page exclusively allows HR Administrators to do the following:<br>
                            - Manually Add New User<br>
                            - Update Existing Employee Data<br>
                            - Update their own profile<br>
                            <br>
                            Notice: If you are not a HR Administrator you will not see any 'Edit' buttons or the
                            'Manually Add User' button.
                        </p>
                    </div>
                </div>
                {% if request.user.profile.role == "HR Administrator" %}
                    <div class="col-sm-4 col-8 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="javascript:"
                                       role="tab" aria-controls="overview" aria-selected="true">
                                        <svg class="text-dark" width="16px" height="16px" viewBox="0 0 42 42"
                                             version="1.1" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>customer-support</title>
                                            <g id="Basic-Elements" stroke="none" stroke-width="1" fill="none"
                                               fill-rule="evenodd">
                                                <g id="Rounded-Icons" transform="translate(-1717.000000, -291.000000)"
                                                   fill="#FFFFFF" fill-rule="nonzero">
                                                    <g id="Icons-with-opacity"
                                                       transform="translate(1716.000000, 291.000000)">
                                                        <g id="customer-support"
                                                           transform="translate(1.000000, 0.000000)">
                                                            <path class="color-background"
                                                                  d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z"
                                                                  id="Path" opacity="0.59858631"></path>
                                                            <path class="color-foreground"
                                                                  d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"
                                                                  id="Path"></path>
                                                            <path class="color-foreground"
                                                                  d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"
                                                                  id="Path"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                        </svg>
                                        <span id="generateButton" class="ms-1" data-bs-toggle="modal"
                                              data-bs-target="#newUserModal">Manually Add New User</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid py-4">
        <div class="card card-body blur shadow-blur mx-4 mt-n6">
            <h6>Employee's with unassigned Role and/or Team:</h6>
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username and
                            Email
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Job Role
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Team</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last
                            Logged In
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date
                            Joined
                        </th>
                        <th class="text-secondary opacity-7"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for siteUser in users %}
                        {% if siteUser.profile.role == "Pending" or siteUser.profile.team == "Pending" %}
                            <tr id="user-{{ siteUser.id }}">
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="/static/assets/img/profileHolder.png"
                                                 class="avatar avatar-sm me-3">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="usernameField mb-0 text-xs">{{ siteUser.username }}</h6>
                                            <p class="emailField text-xs text-secondary mb-0">{{ siteUser.email }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="roleField text-xs font-weight-bold mb-0">{{ siteUser.profile.role }}</p>
                                </td>
                                <td>
                                    <p class="teamField text-xs font-weight-bold mb-0">{{ siteUser.profile.team }}</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-secondary text-xs font-weight-bold">{{ siteUser.last_login }}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ siteUser.date_joined }}</span>
                                </td>
                                {% if request.user.profile.role == "HR Administrator" %}
                                    <td class="align-middle" id="editButton">
                                        <button class="btn text-xs font-weight-bold mb-0 form-control"
                                                onClick="editUser({{ siteUser.id }})" data-bs-toggle="modal"
                                                data-bs-target="#myModal">Edit
                                        </button>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


    <div>
        <div class="container-fluid py-4">
            <div class="card card-body blur shadow-blur mx-4 mt-n6">
                <h6>All Other Users</h6>
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username and
                                Email
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Job
                                Role
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Team
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Last
                                Logged In
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Date
                                Joined
                            </th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for siteUser in users %}
                            {% if siteUser.profile.role != "Pending" and siteUser.profile.team != "Pending" %}
                                <tr id="user-{{ siteUser.id }}">
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="/static/assets/img/profileHolder.png"
                                                     class="avatar avatar-sm me-3">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="usernameField mb-0 text-xs">{{ siteUser.username }}</h6>
                                                <p class="emailField text-xs text-secondary mb-0">{{ siteUser.email }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="roleField text-xs font-weight-bold mb-0">{{ siteUser.profile.role }}</p>
                                    </td>
                                    <td>
                                        <p class="teamField text-xs font-weight-bold mb-0">{{ siteUser.profile.team }}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">{{ siteUser.last_login }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{ siteUser.date_joined }}</span>
                                    </td>
                                    {% if request.user.profile.role == "HR Administrator" %}
                                        <td class="align-middle" id="editButton">
                                            <button class="btn text-xs font-weight-bold mb-0 form-control"
                                                    onClick="editUser({{ siteUser.id }})" data-bs-toggle="modal"
                                                    data-bs-target="#myModal">Edit
                                            </button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit User Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Edit user</h4>
                </div>
                <form id="updateUser" action="">
                    <div class="modal-body">
                        <label>User ID</label>
                        <div class="input-group mb-3">
                            <input class="form-control" id="form-id" readonly="true" name="formId">
                        </div>
                        <label>Username</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="form-name" name="formName">
                        </div>
                        <label>Email</label>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" id="form-email" name="formEmail">
                        </div>
                        <label>Role</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="form-role" name="formRole">
                        </div>
                        <label>Team</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="form-team" name="formTeam">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!-- New User Modal -->
    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-left">
                            <h4 class="font-weight-bolder text-dark text-gradient">Manually Add New User</h4>
                            <p id="formDesc" class="mb-0">As a HR Administrator, you can the form below to manually add
                                a new
                                user to the system</p>
                        </div>
                        <div class="card-body pb-3">
                            <form role="form text-left" id="addUser">
                                <label>Username</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="NewUsername" placeholder="Name"
                                           aria-label="Name" aria-describedby="name-addon">
                                </div>
                                <label>Email</label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" name="NewEmail" placeholder="Email"
                                           aria-label="Email" aria-describedby="email-addon">
                                </div>
                                <label>Job Role</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="NewRole" placeholder="Name"
                                           aria-label="Name" aria-describedby="name-addon">
                                </div>
                                <label>Team</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="NewTeam" placeholder="Name"
                                           aria-label="Name" aria-describedby="name-addon">
                                </div>
                                <label>Password</label>
                                <div class="input-group mb-3">
                                    <input type="input" class="form-control" name="NewPassword" placeholder="Password"
                                           aria-label="Password" aria-describedby="password-addon">
                                </div>
                                <div class="text-center">
                                    <button type="submit"
                                            class="btn bg-gradient-primary btn-lg btn-rounded w-100 mt-4 mb-0">Create
                                        user
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>
        // SUBMIT - Called when submit button is pressed. (Uses POST to add a new student)
        // Create Django Ajax Call for Adding a Student
        $("form#addUser").submit(function () {
            var nameInput = $('input[name="NewUsername"]').val().trim();
            var emailInput = $('input[name="NewEmail"]').val().trim();
            var roleInput = $('input[name="NewRole"]').val().trim();
            var teamInput = $('input[name="NewTeam"]').val().trim();
            var passwordInput = $('input[name="NewPassword"]').val().trim();
            if (nameInput && emailInput && passwordInput && roleInput && teamInput) {
                // Create Ajax Call
                $.ajax({
                    url: "{% url 'new_user' %}",
                    method: "POST",
                    data: $("#addUser").serializeArray(),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                    },
                    success: function () {
                        if (true) {
                            $('#newUserModal').modal('hide');
                            $('#generateButton').text(nameInput + " was successfully registered.");
                        }
                    },
                    error: function () {
                        $('#formDesc').text("There was an error adding the user. Check the form input for errors / duplicate usernames.");
                    }
                });
            } else {
                alert("All fields must have a valid value.");
            }
            $('form#addStudent').trigger("reset");
            return false;
        });

        {# Edit user (on click), this presents the modal with the prepopulated values of the user you've clicked on#}
        {# The update PUT request is handled in the 'Save Changes' button. - all this does is fill in the fields of the modal#}

        function editUser(id) {
            if (id) {
                tr_id = "#user-" + id;
                name = $(tr_id).find(".usernameField").text();
                email = $(tr_id).find(".emailField").text();
                role = $(tr_id).find(".roleField").text();
                team = $(tr_id).find(".teamField").text();
                $('#form-id').val(id);
                $('#form-name').val(name);
                $('#form-email').val(email);
                $('#form-role').val(role);
                $('#form-team').val(team);
            }
        }

        // Save Changes - This button takes the newly edited modal values and updates the server.
        // Uses a PUT request to update the current student
        $("form#updateUser").submit(function () {
            console.log("Updating user")
            $.ajax({
                url: "{% url 'update_user' %}",
                method: "PUT",
                data: $("#updateUser").serializeArray(),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                },
                success: function (data) {
                    if (data.user) {
                        console.log("Successfully updated user")
                    }
                }
            })
        });
    </script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

{% endblock javascripts %}

