{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% load social_share %}

    <script>
        function sendEmail() {
            var xmlHttp = new XMLHttpRequest();
            url = "/sendEmail?sender=" + "{{ request.user.username }}" + "&target=" + document.getElementById("email-recipient").value + "&message=" + document.getElementById("email-message").innerHTML.replace(/\n\r?/g, '<br />');
            xmlHttp.open("GET", url, true)
            xmlHttp.send(null);

        }
    </script>

    <div class="container-fluid">
        <div class="page-header min-height-400 border-radius-xl mt-4"
             style="background-image: url({{ mbtiTypeData.headerImgUrl }}); background-position-y: 50%;">
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6">
            <div class="row>
          <div class=" col-lg-6
            ">
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        {{ mbtiTypeData.typeName }} - {{ mbtiTypeData.typeNickname }}
                    </h5>
                    <p class="mb-0 font-weight-bold text-sm">
                        {{ mbtiTypeData.overview | safe }}
                        <br><br>
                        {{ mbtiTypeData.workStyleSummary | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-8 my-sm-auto ms-sm-auto mx-auto mt-3" style="padding-top: 25px;">
        <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal"
                            data-bs-target="#overviewModal">
                        <i class="ni ni-email-83"></i><br>
                        Share via email
                    </button>
                </li>
                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal"
                            data-bs-target="#workStyleModal">
                    <i class="ni ni-briefcase-24"></i><br>
                        Work Style
                    </button>

                </li>
            </ul>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-12 col-xl-6">
                <div class="card mb-4">
                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-0">Strengths</h6>
                    </div>
                    <div class="card-body p-3">
                        {{ mbtiTypeData.strengths | safe }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="card mb-4">
                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-0">Weaknesses</h6>
                    </div>
                    <div class="card-body p-3">
                        {{ mbtiTypeData.weaknesses | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

    </div>

    <!-- Email Modal -->
<div class="modal fade" id="overviewModal" tabindex="-1" role="dialog" aria-labelledby="overviewModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="overviewModalLabel">Share via email</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-control-label">From</label>
                        <input class="form-control" type="text" value={{ request.user.username }} id="email-from"
                               readonly="true">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Email Recipient</label>
                        <input class="form-control" type="text" value="elon@spacex.com" id="email-recipient">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Message</label>
                        <textarea class="form-control" type="text" id="email-message" rows="13">I just found out that I am an {{ mbtiTypeData.typeName }}, also known as {{ mbtiTypeData.typeNickname }}!&#13;&#10;&#13;&#10;Here are some tips for communicating with me:&#13;&#10;{{ mbtiTypeData.communication }}&#13;&#10;&#13;&#10;Find out more at Predictd on the following link: http://127.0.0.1:8000/profile.html?type={{ mbtiTypeData.typeName }}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn bg-gradient-primary" data-bs-dismiss="modal" onclick="sendEmail()">Send</button>
            </div>
        </div>
    </div>
</div>

{#  Work Styles Modal  #}
<div class="col-md-4">
    <div class="modal fade" id="workStyleModal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">{{ mbtiTypeData.typeName }} Work Styles<p>(CrstalKnows.com, 2022)</p></h6>
            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>Communicating with an {{ mbtiTypeData.typeName }} personality type</h6>
            <p>{{ mbtiTypeData.communication | safe }}</p>

            <h6>Meeting with an {{ mbtiTypeData.typeName }} personality type</h6>
            <p>{{ mbtiTypeData.meeting | safe }}</p>

            <h6>Emailing  an {{ mbtiTypeData.typeName }} personality type</h6>
            <p>{{ mbtiTypeData.emailing | safe }}</p>

            <h6>Giving feedback to an {{ mbtiTypeData.typeName }} personality type</h6>
            <p>{{ mbtiTypeData.feedback | safe }}</p>

            <h6>Resolving conflict with an {{ mbtiTypeData.typeName }} personality type</h6>
            <p>{{ mbtiTypeData.conflict | safe }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

{% endblock javascripts %}
