{% extends 'layouts/base.html' %}

{% block title %} Team Head Admin Panel {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% csrf_token %}

    <div class="container-fluid py-4" style="padding-top: 30px" id="userView">
        <div class="card card-body blur shadow-blur mx-4 mt-n6">
            <div class="row gx-4">
                <div class="col-auto">
                </div>
                <div class="col-auto my-auto" style="padding-bottom: 0px;">
                    <div class="h-100">
                        <h4 class="mb-1">
                            Team Head Admin Panel<br>
                        </h4>
                        <h6>Logged in as {{ user.get_username }} ({{ user.profile.role }})</h6>
                        <br>
                        <p class="mb-0 font-weight-bold text-sm">
                            This page exclusively allows Team Heads to do the following:<br>
                            - View Team Overview<br>
                            - View Team Skew<br>
                            - View Employee MBTI Type<br>
                            - View Employee Work Styles<br>
                            <br>
                            Notice: If you are not a Team Head you will not see any 'Edit' buttons or the 'Manually Add
                            User' button.
                        </p>
                    </div>
                </div>
                {% if request.user.profile.role == "Team Head" %}
                    <div class="col-sm-4 col-8 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <button class="btn btn-icon btn-3 btn-primary" type="button" data-bs-toggle="modal"
                                            data-bs-target="#statsModal" onclick="showStats()">
                                        <span class="btn-inner--icon"><i class="ni ni-chart-bar-32"></i></span>
                                        <span class="btn-inner--text">View Team MBTI Statistics</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid py-4">
        <div class="card card-body blur shadow-blur mx-4 mt-n6">
            <h6>Viewing {{ request.user.profile.team }} Team</h6>

            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username and
                            Email
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Job Role
                        </th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Team</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Work
                            Styles
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type
                            Resources
                        </th>
                        <th class="text-secondary opacity-7"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for siteUser in users %}
                        {% if request.user.profile.role == "Team Head" and siteUser.profile.team == request.user.profile.team %}
                            <tr id="user-{{ siteUser.id }}">
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="/static/assets/img/profileHolder.png"
                                                 class="avatar avatar-sm me-3">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="usernameField mb-0 text-xs">{{ siteUser.username }}</h6>
                                            <p class="emailField text-xs text-secondary mb-0">{{ siteUser.email }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="roleField text-xs font-weight-bold mb-0">{{ siteUser.profile.role }}</p>
                                </td>
                                <td>
                                    <p class="teamField text-xs font-weight-bold mb-0">{{ siteUser.profile.team }}</p>
                                </td>
                                <td>
                                    {% if siteUser.profile.testResult.type %}
                                        <p class="teamField text-xs font-weight-bold mb-0">{{ siteUser.profile.testResult.type }}</p>
                                    {% else %}
                                        <p class="teamField text-xs font-weight-bold mb-0">Untyped</p>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <button type="button" class="btn btn-outline-secondary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#workStyleModal"
                                            onClick="showWorkStyles('{{ siteUser.profile.testResult.type }}')">View work
                                        styles
                                    </button>
                                </td>
                                <td class="align-middle text-center">
                                    <button type="button" class="btn btn-outline-secondary btn-sm"><a
                                            href="/profile.html?type={{ siteUser.profile.testResult.type }}"
                                            style="text-decoration: none; color: #8695ad;">View mbti resources</a>
                                    </button>
                                </td>
                                {% if request.user.profile.role == "Team Head" %}
                                    <td class="align-middle" id="editButton">
                                        <button class="btn btn-outline-danger btn-sm"
                                                onclick="releaseUser({{ siteUser.id }});">Release
                                        </button>
                                    </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <!-- Edit User Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Edit user</h4>
                </div>
                <form id="updateUser" action="">
                    <div class="modal-body">
                        <label>User ID</label>
                        <div class="input-group mb-3">
                            <input class="form-control" id="form-id" readonly="true" name="formId">
                        </div>
                        <label>Username</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="form-name" name="formName">
                        </div>
                        <label>Email</label>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" id="form-email" name="formEmail">
                        </div>
                        <label>Role</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="form-role" name="formRole">
                        </div>
                        <label>Team</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="form-team" name="formTeam">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!-- New User Modal -->
    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card card-plain">
                        <div class="card-header pb-0 text-left">
                            <h4 class="font-weight-bolder text-dark text-gradient">Manually Add User</h4>
                            <p id="formDesc" class="mb-0">As a superuser, you can the form below to manually add a new
                                user to the system</p>
                        </div>
                        <div class="card-body pb-3">
                            <form role="form text-left" id="addUser">
                                <label>Username</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="NewUsername" placeholder="Name"
                                           aria-label="Name" aria-describedby="name-addon">
                                </div>
                                <label>Email</label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" name="NewEmail" placeholder="Email"
                                           aria-label="Email" aria-describedby="email-addon">
                                </div>
                                <label>Job Role</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="NewRole" placeholder="Name"
                                           aria-label="Name" aria-describedby="name-addon">
                                </div>
                                <label>Team</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="NewTeam" placeholder="Name"
                                           aria-label="Name" aria-describedby="name-addon">
                                </div>
                                <label>Password</label>
                                <div class="input-group mb-3">
                                    <input type="input" class="form-control" name="NewPassword" placeholder="Password"
                                           aria-label="Password" aria-describedby="password-addon">
                                </div>
                                <div class="text-center">
                                    <button type="submit"
                                            class="btn bg-gradient-primary btn-lg btn-rounded w-100 mt-4 mb-0">Create
                                        user
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#  Work Styles Modal  #}
    <div class="col-md-4">
        <div class="modal fade" id="workStyleModal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
             aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default"><p id="type"></p>
                            <p>(CrstalKnows.com, 2022)</p></h6>
                        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Communicating with an {{ mbtiTypeData.typeName }} personality type</h6>
                        <p id="communication"></p>

                        <h6>Meeting with an {{ mbtiTypeData.typeName }} personality type</h6>
                        <p id="meeting"></p>

                        <h6>Emailing an {{ mbtiTypeData.typeName }} personality type</h6>
                        <p id="emailing"></p>

                        <h6>Giving feedback to an {{ mbtiTypeData.typeName }} personality type</h6>
                        <p id="feedback"></p>

                        <h6>Resolving conflict with an {{ mbtiTypeData.typeName }} personality type</h6>
                        <p id="conflict"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#  Stats Modal  #}
    <div class="col-md-4">
        <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
             aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document" style="max-width: 800px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">Team Statistics</h6>
                        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card mb-3">
                            <div class="card-body p-5">
                                <div>
                                    <canvas id="myChart"></canvas>
                                </div>
                                <br>
                                <br>
                                <p id="statsText">Text body</p>
                                <br>
                                <p id="statsTextFooter">Courtesy of:</p><a
                                    href="https://hbr.org/2015/03/introverts-extroverts-and-the-complexities-of-team-dynamics#:~:text=Extroverts%20bring%20the%20vision%2C%20assertiveness,leaders%20who%20have%20the%20advantage">Harvard
                                Business Review</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-primary">Save changes</button>
                        <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="../../assets/js/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const xmlHttp = new XMLHttpRequest();
        url = "/getStats"
        xmlHttp.open("GET", url, false)
        xmlHttp.send(null);

        jsonObject = JSON.parse(xmlHttp.response)

        iCount = jsonObject["introverts"]
        eCount = jsonObject["extraverts"]

        $('#statsText').text(jsonObject["message"]);

        const data = {
            labels: ['Introverts', 'Extraverts'],
            datasets: [{
                label: 'Number of Introverts vs Extraverts in Team',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [iCount, eCount],
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {},
            ticks: {stepSize: 1}
        };
    </script>

    <script>
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>


    <script>

        function showWorkStyles(type) {
            if (type) {
                var xmlHttp = new XMLHttpRequest();
                url = "/getWorkStyles?type=" + type
                xmlHttp.open("GET", url, false)
                xmlHttp.send(null);

                jsonObject = JSON.parse(xmlHttp.responseText)

                $('#type').text(type + " Work Styles");
                $('#communication').text(jsonObject["communication"]);
                $('#meeting').text(jsonObject["meeting"]);
                $('#emailing').text(jsonObject["emailing"]);
                $('#feedback').text(jsonObject["feedback"]);
                $('#conflict').text(jsonObject["conflict"]);
            }
        }

        function releaseUser(userId) {

            // POST Request that releases the desired user
            var xmlHttp = new XMLHttpRequest();
            url = "/releaseUser?id=" + userId
            xmlHttp.open("POST", url, true)
            xmlHttp.withCredentials = true
            xmlHttp.setRequestHeader("X-CSRFToken", '{{csrf_token}}')
            xmlHttp.send(null);

            location.reload()
        }

        // SUBMIT - Called when submit button is pressed. (Uses POST to add a new student)
        // Create Django Ajax Call for Adding a Student
        $("form#addUser").submit(function () {
            var nameInput = $('input[name="NewUsername"]').val().trim();
            var emailInput = $('input[name="NewEmail"]').val().trim();
            var roleInput = $('input[name="NewRole"]').val().trim();
            var teamInput = $('input[name="NewTeam"]').val().trim();
            var passwordInput = $('input[name="NewPassword"]').val().trim();
            if (nameInput && emailInput && passwordInput && roleInput && teamInput) {
                // Create Ajax Call
                $.ajax({
                    url: "{% url 'new_user' %}",
                    method: "POST",
                    data: $("#addUser").serializeArray(),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                    },
                    success: function () {
                        if (true) {
                            $('#newUserModal').modal('hide');
                            $('#generateButton').text(nameInput + " was successfully registered.");
                        }
                    },
                    error: function () {
                        $('#formDesc').text("There was an error adding the user. Check the form input for errors / duplicate usernames.");
                    }
                });
            } else {
                alert("All fields must have a valid value.");
            }
            $('form#addStudent').trigger("reset");
            return false;
        });

        {# Edit user (on click), this presents the modal with the prepopulated values of the user you've clicked on#}
        {# The update PUT request is handled in the 'Save Changes' button. - all this does is fill in the fields of the modal#}

        function editUser(id) {
            if (id) {
                tr_id = "#user-" + id;
                name = $(tr_id).find(".usernameField").text();
                email = $(tr_id).find(".emailField").text();
                role = $(tr_id).find(".roleField").text();
                team = $(tr_id).find(".teamField").text();
                $('#form-id').val(id);
                $('#form-name').val(name);
                $('#form-email').val(email);
                $('#form-role').val(role);
                $('#form-team').val(team);
            }
        }

        // Save Changes - This button takes the newly edited modal values and updates the server.
        // Uses a PUT request to update the current student
        $("form#updateUser").submit(function () {
            console.log("Updating user")
            $.ajax({
                url: "{% url 'update_user' %}",
                method: "PUT",
                data: $("#updateUser").serializeArray(),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                },
                success: function (data) {
                    if (data.user) {
                        console.log("Successfully updated user")
                    }
                }
            })
        });
    </script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

{% endblock javascripts %}

